
.about-container {
  color: #161616;
  margin: 0 auto;
  background-color: #FFF7ED;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: var(--content-height);
}

.about-container img {
  width: 100%;
  object-fit: contain;
  min-height: 250px;
  object-position: 50% 65%;
}


.about-text-container {
  padding: 0 25px;
  margin-bottom: 60px;
}

.about-header {
  font-size: 32px;
}

.about-text {
  font-weight: 500;
}

.about-box {
  background-color: #ffcc8d;
  /* min-height: 200px; */
  /* text-align: left; */
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin: 15px 25px;
  padding: 20px 35px;
  border-radius: 5px;
}

.box-header {
  font-size: 24px;
}

.about-button {
  background-color: #161616;
  color: #fff;
  width: 175px;
  height: 50px;
  font-weight: 700;
  border-radius: 10px;
  font-size: 14px;
  max-width: 500px;
  /* margin: 10px 25px; */
}


@media (min-width: 768px) {
  .about-container {
    min-height: var(--content-height);
    max-width: 100%;
  }

  .about-container img {
    width: 100%;
    object-fit: cover;
    max-height: 350px;
  }


.about-box {
  width: 30%;
}
}
